<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        {% block head %}
        <title>Launchstore</title>
        {% endblock head %}

        <meta charset=utf-8>
        {% include "parts/styles.njk" %}
    </head>
    <body>
        {% include "parts/messages.njk" %}
        {% include "parts/header.njk" %}

        {# DINAMIC CONTENT #}
        {% block content %}
        {% endblock content %}

        {% include "parts/footer.njk" %}
    </body>
</html>